/* font */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* général */
*{
    margin: 0;
    color: var(--black);
    font-family: var(--open-sans);
}

:root{
    --blue:#02797E;
    --black:#000000;
    --green:#006A19;
    --white-grey:#F2F4F2;
    --white:#FFFFFF;
    --permanante-marker:"Permanent Marker", cursive;
    --roboto:"Roboto", sans-serif;
    --open-sans:"Open Sans", sans-serif;
}

h1, h2{
    font-family: var(--permanante-marker);
    color: var(--green);
    font-size: 37px;

}

h3{
    font-family: var(--permanante-marker);
    font-size: 22px;
    color: var(--blue);
}

p{
    font-family: var(--open-sans);
    font-size: 16px;
    color: var(--black);
}

img{
    width: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
    font-weight: 700;
}

ul{
    list-style: none;
}

/* header */
#en-tete{
    padding-bottom: 150px;
    /* max-width: 1440px;*/
    margin: auto; 
}

#en-tete div{
    display: grid;
    justify-content: center;
}

#en-tete div img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

#en-tete div nav ul{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

#en-tete div nav ul .about{
    color: var(--green);
}

#en-tete div nav ul li a:hover{
    color: var(--green);
}

/* main */
/* section 1 */
#section-1{
    background: var(--white-grey);
    padding: 0 15px;
}
#section-1 article{
    /* max-width: 1440px;*/
    margin: auto; 
}
#section-1 article  div {
    display: flex;
    justify-content: center;
}

#section-1 article div  .div-1 div{
    gap: 32px;
    /* position: relative;
    right: 242px; */
    justify-content: flex-start;
    align-items: center;
}
#section-1 article div  .div-1 div hr{
    width: 62px;
    border: 1px solid var(--green);
    /* position: relative; */
    /* top: 6px; */
}

#section-1 article div  .div-1 a{
    width: 94px;
    height: 24px;
    padding: 12px 24px 12px 24px;
    border-radius: 3px;
    background: var(--green);
    color: var(--white);
}

#section-1 article div  .div-1 a:hover{
    transition: all 0.4s;
    transform: scale(1.02);
}

#section-1 article div  .div-1{
    display: grid;
    align-content: space-evenly;
} 

#section-1 article div .div-1  #para p{
    position: relative;
    left: 10px;
    max-width: 727px;
}

#section-1 article div .div-1 #para{
    display: grid;
    justify-items: center;
    /* width: 694px; */
}

#section-1 article div  #img-1{
    /* width: 663px; */
    height: auto;
    padding: 30px 0 30px 40px;
    position: relative;
    right: 7px;
}
/* section 2 */

/* #section-2 div{
    max-width: 1440px;
    margin: auto;
} */

#section-2 div .container{
    display: flex;
}

#section-2 div .container div i{
    color: var(--blue);
    font-size: 50px;
    padding-bottom: 10px;
}

#section-2 div .container div{
    display: grid;
    justify-items: center;
    border-right: 1px solid;
    padding: 0 22px 0 49px;
}

#section-2 div .container div p{
    text-align: center;
    padding: 10px
}

#section-2 div .container .div-4{
    border: none;
}

#section-2 div .skills hr{
    width: 65px;
    border: 1px solid var(--green);
    height: 0;
    position: relative;
    top: 19px;
}

#section-2 div .skills h2{
    color: var(--green);
}

#section-2, div .skills{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 35px;
    padding: 55px;
}

/* section 3 */
#section-3{
    background: var(--blue);
    padding-bottom: 100px;
}

#section-3 div{
    /* max-width: 1440px; */
    margin: auto;
}

#section-3 div .client h2{
    color: var(--white);
}

#section-3 div .client{
    display: flex;
    gap: 32px;
    padding: 55px 0;
}

#section-3 div .client hr{
    width: 65px;
    border: 1px solid var(--white);
    height: 0;
    position: relative;
    top: 19px;
}

#section-3 div .image{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#section-3 div .image #agile{
    width: 177px;
    height: 97px;
}

#section-3 div .image #vtc{
    width: 176px;
    height: 155px;
}

#section-3 div .image #lisa{
    width: 151px;
    height: 150px;


}

#section-3 div .image #feed, #mayol, #duval{
    width: 177px;
    height: 57px; 
}

/* section 4 */
 #section-4 div{
    margin: auto;
} 

#section-4 .web article div{
    display: flex;
    gap: 25px;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

#section-4 .web article div img{
    max-width: 371px;
}

#section-4 div .skill{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 55px;
    padding: 75px 0 55px;
}

#section-4 div .skill h2{
    color: var(--green);
}

#section-4 div .skill hr{
    width: 85px;
    border: 1px solid var(--green);
    height: 0;
    position: relative;
    top: 27px;
}

#section-4 div .a a{
    width: 164px;
    padding: 12px 24px 12px 24px;
    border-radius: 3px;
    border: 1px solid var(--green);
    background: var(--green);
    color: var(--white);
}

#section-4 div .a a:hover{
    transition: all 0.4s;
    transform: scale(1.02);
}

#section-4 div .a{
    display: grid;
    justify-content: center;
    padding: 84px 0 0;
}

/* section 5 */
#section-5{
    background: var(--white-grey);
    margin-top: 96px;
}

 #section-5 div{
   /* max-width: 1440px;*/
    margin: auto;
} 

#section-5 div .us{
    display: flex;
    position: relative;
    gap: 20px;
    padding: 55px 0;
}

#section-5 div .us hr{
    width: 65px;
    border: 1px solid var(--green);
    height: 0;
    position: relative;
    top: 28px;
}

#section-5 div #contacter{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#section-5 div #contacter article #ia{
    padding: 20px 0;
}

#section-5 #contacter article{
    top: 109px;
    position: relative;
    padding-right: 79px;
}

#section-5 #contacter article p{
    max-width: 500px;
}

#section-5 #ia div{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

#section-5 #ia div i{
    color: var(--green);
}

#section-5 #ia div a{
    font-weight: 400;
}

#section-5 #contact form{
    gap: 20px;
    display: grid;
}

#section-5 #contacter form #checkbox{
    display: flex;
    gap: 10px;
}

#section-5 div form .email{
    border: 1px solid #69727D;
    width: 537px;
    height: 21px;
    padding: 10px 17px 10px 17px;
    margin-bottom: 20px;
}

#section-5 div form textarea{
    border: 1px solid #69727D;
    width: 537px;
    height: 108px;
    padding: 10px 17px 10px 17px;
    border-radius: 3px 0px 0px 0px;
    margin-bottom: 30px;
}

#section-5 div #contacter form button{
    width: 88px;
    padding: 12px 24px 12px 24px;
    border-radius: 3px;
    border: 1px solid var(--green);
    background: var(--green);
    color: var(--white);
    margin: 20px 0;
}

/* #section-5 div #contacter form{
    position: relative;
    right: 37px;
} */

/* footer */
/* #footer div {
    max-width: 1440px;
    margin: auto;
} */

#footer div p{
    color: var(--blue);
    display: grid;
    justify-content: center;
    padding: 20px;
}

/* responsive */

/* Responsive tablette - 1024px à 768px */
@media screen and (max-width:1024px){
    #en-tete div {
        text-align: center;
    }
    #section-1 article div #img-1 {
        /* height: auto; */
        padding: 25px;
    }
    #section-2 div .container div {
        padding: 10px;
    }
    #section-3 div .image {
        flex-wrap: wrap;
        gap: 20px;
    }
 
    #section-5 div form .email, #section-5 div form textarea {
        width: 100%;
    }
    #footer div {
        padding: 10px;
    }
}

/* Responsive mobile - max-width 767px à 320px */
@media screen and (max-width:767px){
    #en-tete div img{
        width: 150px;
        height: 150px;
    }

    #en-tete div nav ul{
        gap: 25px;
    }

    #section-1 article #para-img{
        flex-direction: column;
    }

    #section-1 article div .div-1 #para{
        padding-top: 43px;
    }

    #section-2 div .container{
        flex-direction: column;
        gap: 10px;
        padding: 0 10px;
    }

    #section-2 div .skills,
    #section-4 div .skill{
        display: flex;
        flex-direction: column;
    }

    #section-2 div .container div{
        border: none;
        padding: 10px 0;
    }

    #section-3 div .image{
        flex-direction: column;
        gap: 30px;
    }

    #section-5 div #contacter{
        flex-wrap: wrap;
    }

    #section-5 #contacter article {
        top: 0;
        padding-right: 0;
    }

    #section-5 div form .email, #section-5 div form textarea{
        width: -webkit-fill-available;
    }

    #footer div{
        padding: 10px 0;
    }
}